:root {
    --bg-color: white;
    --input-color: #F2F3F5;
    --btn-color: #222222;
    --text-color: #222222;
    --tip-color: #808080;
    --btn-text-color: white;
}


@font-face {
    font-family: 'Golos UI';
    src: url('src/Golos-UI_Regular.ttf');
}

body {
    background-color: var(--bg-color);
    font-family: 'Golos UI';
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 80px;
    top: 50%;
    transform: translateY(30%);
}

.login-preview {
    width: 462px;
    height: 501px;    
}   

.login-preview__title {
    position: relative;
    margin-top: -600px;
    margin-left: -50px;
    font-weight: 700;
    font-size: 140px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.login-form__tip {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: var(--tip-color);
}

.login-form__title {
    color: var(--text-color);
    font-weight: 300;
    font-size: 15px;
}

.login-form__password, .login-form__email {
    width: 343px;
    height: 44px;
    border-radius: 10px;
    background-color: var(--input-color);
    border: 0;
}

.login-form__continue {
    width: 343px;
    height: 48px;
    border-radius: 10px;
    background-color: var(--btn-color);
    color: var(--btn-text-color);
    cursor: pointer;
}

.error-message {
    border-radius: 10px;
    opacity: 0;
    background-color: rgba(255, 236, 236, 1);
    color: rgba(116, 0, 0, 1); 
    height: 0px;   
    display: flex;
    align-items: center;
}

.error-message__text {
    margin: 0;
    margin-left: 10px;
}

.error-message_hide {
    height: 0;
    opacity: 0;
    transition: height 0.3s ease, opacity 0.3s ease, padding 0.3s ease;
}

.error-message_show {
    height: 40px;
    opacity: 1;
    transition: height 0.3s ease, opacity 0.3s ease, padding 0.3s ease;
}